# Dependency directories
node_modules/

# System files
.DS_Store

# Environment variables
.env
.env.test.local
.env.production.local

# Log files
npm-debug.log

# Build directories
dist/
build/

# Test directories and files
mochawesome-report/
mochawesome-report/mochawesome.html
results/my-test-output.xml

# Specific files
randomEmail.txt
